	<!DOCTYPE html>
<html lang="en">

<head>
    {{>HLinks}}
</head>

<body>
    {{>Nav}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="image/aboutMe.jpg" alt="Gulshan" title="gulshan" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Gulshan World</p>
                        <h1>I am a <span class="txt_clr">MERN Stack Developer</span>, Frelancer and Gym Instructor</h1>
                        <a href="https://www.linkedin.com/in/gulshan-kumar-012369153/" target="_gulshankumar"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        {{>footer}}
    </footer>
</body>

</html